<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Michaelsto URL Shortener</title>
</head>

<body>
  <h1>Paste your Long URL here:</h1>
  <form method="post" action="/">
    <input type="text" name="longUrl">
    <input type="text" name="urlCode">
    <input type="submit" value="Add">
  </form>
  <p><%= shortUrl %></p>
  <p><%= errMessage %></p>
</body>

</html>